<div id="app">
  <h1>{{ title }}</h1>
  <p>Select a date and time to book for an inspection</p>
  <div class="booker">
    <div class="datepicker">
      {{#each dates }}
      <h2 class="month-header">{{@key}}</h2>
      <div>
        <table class="calendar-weeks">
          <thead>
            <tr>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
              <th>Sun</th>
            </tr>
          </thead>
        </table>
        <div class="">
          <table class="calendar">
            <tbody>
              {{#each this }}
              <tr>
                {{#each this }}
                <td>
                  <button
                    type="button"
                    class="day"
                    {{disableDay
                    this}}
                    data-date="{{this}}"
                  >
                    {{day this}}
                  </button>
                </td>
                {{/each}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      {{/each}}
    </div>
    <div style="flex:1">
      <div id="slots">
        <h3 id="selected-date"></h3>
        <div class="scrollbox">
          <ul id="time-slots"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
